.phpunit.cache
.phpunit.result.cache

node_modules

apps/api/public/build
apps/api/public/hot
apps/api/public/storage
apps/api/storage/*.key
apps/api/storage/app/public
apps/api/storage/debugbar
apps/api/storage/ssr
apps/api/storage/clockwork
apps/api/storage/logs
apps/api/storage/pail
apps/api/public/page-cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor
.env.backup
.idea/sonarlint
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
.php-cs-fixer.cache
.husky
.vscode
**/.DS_Store
.phpunit.database.checksum
.phpunit.cache
rr
.rr.yaml
frankenphp
.config
.data