NEXTAUTH_SECRET= # openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000
NEXT_PUBLIC_REFERRER_URL=http://localhost:3000
NEXT_PUBLIC_DEBUG=true

NEXT_PUBLIC_LOCALE=en-US
NEXT_PUBLIC_CURRENCY=USD