NEXTAUTH_SECRET= # openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000/ # For dev/local purpose only, use your production url while deploying

NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000
NEXT_PUBLIC_DEBUG=true